.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 125px;
  height: 125px;
  margin: 121px auto 0 29px;
}

.u-section-1 .u-text-1 {
  margin: -77px 905px 0 106px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 14px -12px 60px 97px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: 129px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 188px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 404px;
    margin-left: 147px;
    margin-right: 147px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 239px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 801px;
    margin-left: 277px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 246px;
    margin-right: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 329px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 711px;
    margin-left: 350px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 327px;
    margin-right: 327px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 164px;
    margin-left: 376px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -69px;
    margin-right: 593px;
    margin-left: 449px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 289px;
    margin-left: 417px;
    margin-right: 417px;
  }
}