.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 125px;
  height: 125px;
  margin: 121px auto 0 29px;
}

.u-section-1 .u-text-1 {
  margin: -77px 905px 0 106px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 14px -12px 60px 97px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-image-1 {
    margin-top: 132px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -80px;
    margin-right: 702px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 31px;
    margin-right: 164px;
    margin-left: 130px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-image-1 {
    margin-top: 156px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -76px;
    margin-right: 487px;
    margin-left: 92px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10px;
    margin-right: 26px;
    margin-left: 81px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 151px;
    margin-right: 415px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -77px;
    margin-right: 335px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 14px;
    margin-left: 74px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-1 .u-image-1 {
    width: 149px;
    margin-right: 229px;
    margin-left: -38px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -69px;
    margin-right: 197px;
    margin-left: 49px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 17px;
    margin-right: 0;
    margin-left: 37px;
  }
}