.u-section-1 {
  background-image: linear-gradient(black, #db545a);
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 125px;
  height: 125px;
  margin: 121px auto 0 29px;
}

.u-section-1 .u-text-1 {
  margin: -77px 905px 0 106px;
}

.u-section-1 .u-text-2 {
  margin: -39px 879px 0 67px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 8px 18px 60px 67px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 805px;
    margin-left: 88px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 746px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 47px;
    margin-left: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 591px;
    margin-left: 67px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 526px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 36px;
    margin-left: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 411px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 346px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 27px;
    margin-left: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 211px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 146px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 17px;
    margin-left: 17px;
  }
}