.u-section-1 .u-sheet-1 {
  min-height: 1254px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 146px 997px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 80px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 408px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 18px;
}

.u-section-1 .u-image-1 {
  width: 160px;
  height: 160px;
  margin: -19px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 8px -8px 0 8px;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 408px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 18px;
}

.u-section-1 .u-image-2 {
  width: 160px;
  height: 160px;
  margin: -19px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 408px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 160px;
  height: 160px;
  margin: -19px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 48px;
  margin-bottom: 48px;
  min-height: 480px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 480px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 160px;
  height: 160px;
  margin: 17px auto 0 58px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 8px 403px 0 -402px;
}

.u-section-1 .u-text-9 {
  margin: 14px 0 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1299px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 193px;
    margin-right: 777px;
    margin-left: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 638px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 336px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -192px;
    margin-bottom: 60px;
    min-height: 396px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 449px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 11px;
    margin-left: 56px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 304px;
    margin-left: -304px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2897px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 182px;
    margin-right: 545px;
    margin-left: 32px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 3115px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 409px;
    height: 256px;
    margin-top: -3034px;
    margin-right: -286px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: -271px;
    margin-left: 242px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 8px;
    margin-right: -257px;
    margin-left: 257px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -2525px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
    margin-right: 30px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 10px;
  }

  .u-section-1 .u-image-3 {
    width: 256px;
    margin-top: -1995px;
    margin-left: -286px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: 257px;
    margin-left: -257px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 10px;
    margin-right: 257px;
    margin-left: -257px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -1612px;
    min-height: 480px;
    position: relative;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    width: 256px;
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: 14px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 51px;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 397px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 160px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    min-height: 47px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    width: 160px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 10px;
    margin-right: -10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 197px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 6px;
  }
}