.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-family: "Alfa Slab One";
  font-size: 3.75rem;
  animation-duration: 3000ms;
  width: 781px;
  margin: 316px auto 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 5000ms;
  width: 403px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-3 {
  width: 428px;
  animation-duration: 7000ms;
  margin: 23px auto 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 23px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 780px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 225px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 105px;
    margin-bottom: 60px;
  }
}