.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  animation-duration: 3000ms;
  font-weight: 700;
  width: 700px;
  font-family: Arial, sans-serif;
  margin: 316px auto 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 5000ms;
  width: 403px;
  margin: 11px auto 0;
}

.u-section-1 .u-text-3 {
  animation-duration: 7000ms;
  width: 450px;
  margin: 12px auto 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 23px auto 60px;
  padding: 14px 30px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 780px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 302px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 225px;
    margin-right: -42px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: -50px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: -50px;
    margin-left: 50px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 42px;
  }
}