.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  animation-duration: 2000ms;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin: 307px 365px 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 2000ms;
  margin: 8px 380px 60px 403px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 452px;
    margin-left: 244px;
    margin-right: 244px;
  }

  .u-section-1 .u-text-2 {
    width: 357px;
    margin-left: 292px;
    margin-right: 292px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 335px;
    margin-left: 134px;
    margin-right: 134px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 189px;
    margin-left: 175px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    height: 66px;
    margin-right: 31px;
    margin-left: 57px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 85px;
    margin-right: 99px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}