.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-family: "Alfa Slab One";
  font-size: 3.75rem;
  animation-duration: 2000ms;
  margin: 316px 344px 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 2000ms;
  margin: 11px 380px 0;
}

.u-section-1 .u-text-3 {
  animation-duration: 2000ms;
  margin: -28px 584px 0 473px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  animation-duration: 2000ms;
  margin: -28px 379px 60px 558px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 452px;
    margin-top: -552px;
  }

  .u-section-1 .u-text-2 {
    width: 452px;
    margin-left: 344px;
    margin-right: 344px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 620px;
    margin-left: 437px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 416px;
    margin-left: 521px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-4 {
    margin-right: 620px;
    margin-left: 437px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: -824px;
    margin-right: 381px;
    margin-left: 419px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-right: 345px;
    margin-left: 455px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 510px;
    margin-left: 547px;
  }

  .u-section-1 .u-btn-1 {
    width: 79px;
    height: 29px;
  }

  .u-section-1 .u-text-4 {
    width: 231px;
    margin-top: 0;
    margin-left: 455px;
    margin-right: 455px;
  }
}